In [28]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

In [31]:
df = pd.read_csv("../Data/PS_20174392719_1491204439457_log.csv")

In [32]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [34]:
df.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

#### Dropping Columns 
- The selection of dropping these columns was based on the previous EDA, determining that they would not be significant in building out our predictive model.  
    - nameOrig: This is a name for the account, this unique identifier might not be helpful for our predictions
    - nameDest:  This is a name for the account, this unique identifier might not be helpful for our predictions
    - step:  This is a timestamp of the transactions, this might not directly help with predicting fraud
    - newbalanceOrig: This is the original account balance after the transaction has occurred, this wont help predict if a transaction is fraud because it happens after the transaction  
    - newbalanceDest: This is the destination account balance after the transaction has occurred, this wont help predict if a transaction is fraud because it happens after the transaction

In [35]:
df.drop(["nameOrig", "nameDest", "step", "newbalanceOrig", "newbalanceDest"], axis=1, inplace=True)

In [36]:
df.shape

(6362620, 6)

In [38]:
df1 = df["type"].str.get_dummies()

In [40]:
df = pd.concat([df,df1], axis=1)

In [45]:
df.head()

,amount,oldbalanceOrg,oldbalanceDest,isFraud,CASH_IN,CASH_OUT,DEBIT,PAYMENT,TRANSFER
0,9839.64,170136.0,0.0,0,0,0,0,1,0
1,1864.28,21249.0,0.0,0,0,0,0,1,0
2,181.00,181.0,0.0,1,0,0,0,0,1
3,181.00,181.0,21182.0,1,0,1,0,0,0
4,11668.14,41554.0,0.0,0,0,0,0,1,0

In [42]:
df.drop(["type"], axis=1, inplace=True)

In [44]:
df.drop(["isFlaggedFraud"], axis=1, inplace=True)

In [46]:
import os  
os.makedirs('../Data', exist_ok=True)  
df.to_csv('../Data/banking_cleaned.csv')